body {
  font-family: "Lato", sans-serif;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.main-head {
  height: 150px;
  background: #fff;
}

.sidenav {
  height: 100%;
  background: #6c648b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #6c648b,
    #b6a19e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #6c648b,
    #b6a19e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  overflow-x: hidden;
  padding-top: 20px;
}

.main {
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
}

@media screen and (max-width: 450px) {
  .login-form {
    margin-top: 10%;
  }

  .register-form {
    margin-top: 10%;
  }
}

@media screen and (min-width: 768px) {
  .main {
    margin-left: 40%;
  }

  .sidenav {
    width: 40%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
  }

  .login-form {
    margin-top: 80%;
  }

  .register-form {
    margin-top: 20%;
  }
}

.login-main-text {
  margin-top: 20%;
  padding: 60px;
  color: #d6d6d6;
}

.login-main-text h2 {
  font-weight: 300;
  font-weight: bolder;
}

.btn-black {
  background-color: #b6a19e !important;
  color: #fff;
}

a:link {
  text-decoration: none;
}

a:hover {
  background-color: #6c648b !important;
}
